/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background: linear-gradient(to right, #009999, #7a0099);
    color: white;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

table.game-board {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    background: #cfd034;
    border: 1px solid #d4fcdb;
    min-width: 24px;
    height: 27px;
    text-align: center;
}

.wrapper {
    padding: 50px;
    margin-bottom: 10px;
}

.game-board {
}

table.score-board {
    background: #808080;
    border: 1px solid #808080;
    width: auto;
    margin-right: 0px;
    margin-left: auto;
}

#score-board {
    background: #808080;
    border: 1px solid #808080;
    width: auto;
    margin-left: 50px;
    margin-right: 0px;
    margin-left: auto;
}

.r1 {
    border: 1px solid #d4fcdb;
    background: #808080;
}

.tw {
    background: #E60000;
}

.dw {
    background: #F86969;
}

.t1 {
    background: #3675FA;
}

.d1 {
    background: #18FFEE;
}

.start {
    background: #ff5500;
}

#tray-container {
    margin-top: 1%;
    text-align:center;
    background-image: url(../Images/Scrabble-Tray.png);
    
}

#Scrabble-Tray {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.bg-dark {
    /*background-color: darkcyan !important;*/
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,127,128,1) 35%, rgba(0,212,255,1) 100%);
}

.hand .letter {
    background: #cfd034;
    border: 1px solid #d4fcdb;
    min-width: 80px;
    height: 80px;
    text-align: center;
}

.hand-letter {
    background-image: url("../Images/Scrabble-Tray.png");
    background-position: center;
    enable-background: new;
    background: #cfd034;
    border: 1px solid #d4fcdb;
    width: 80px;
    height: 80px;
    text-align: center;
    align-content: center;
    display: inline-block;
}

#ScrabbleImage {
    background-image: url("../Images/Scrabble.png");
    background-repeat: no-repeat;
    height: 200px;
}

/*.letter .hand {
    position: absolute;
    top: 90%;
    background: #cfd034;
    border: 1px solid #d4fcdb;
    min-width: 50px;
    height: 50px;
    text-align: center;
}
*/
#handLetter1 {
    left: 84%;
}

#handLetter2 {
    left: 39%;
}

#handLetter3 {
    left: 44%;
}

#handLetter4 {
    left: 49%;
}

#handLetter5 {
    left: 54%;
}

#handLetter6 {
    left: 59%;
}

#handLetter7 {
    left: 64%;
}

.Sidebar-Left {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 90;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

.Sidebar-Right {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 90;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
}

.Background {
}

.Front {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sign {
    padding-top: 40px;
    background: linear-gradient(to right, #009999, #7a0099);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.email {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 60px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    align-items: center;
}

.pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 60px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    text-emphasis-style: circle;
}

    .pass::after {
        content: "Password";
    }

    .email:focus, .pass:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;
    }

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #009999, #7a0099);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.create {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    background: linear-gradient(to right, #009999, #7a0099);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
}

.forgot {
    text-shadow: 0px 0px 3px rgb(204, 0, 255);
    color: #7a0099;
    padding-top: 15px;
}

.link-color {
    background: linear-gradient(to right, #009999, #7a0099);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

.main-Login {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: #009999;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

form1 {
    padding-top: 40px;
}

.main-Create {
    background-color: #FFFFFF;
    width: 800px;
    height: 650px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.Create-Input {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 37%;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-emphasis-style: circle;
}

.create-submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #009999, #7a0099);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 41%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.home-board {
    margin-top: 150px;
}


.Start-Button {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #009999, #7a0099);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 33%;
    margin-top: 1%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
